{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <form method="post" action="{{ action }}" novalidate="novalidate"><!-- para evitar la validacion html5 -->
            <div>
                {{ dump (form.vars.value) }}

                <ul>
                    <!-- para mostrar los errores del formulario -->
                    {% for error in form.vars.errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>{{ form_errors(form.nazwa) }}{{ form_label(form.nazwa) }}: {{ form_widget(form.name) }}</div>
            <div>{{ form_label(form.opis) }}: {{ form_widget(form.opis) }}</div>
            <div>{{ form_label(form.cena) }}: {{ form_widget(form.cena) }}</div>
            {{ form_rest(form) }}
            <div><input type="submit" value="Añadir"></div>


        </form>
    </div>

{% endblock %}