{% extends '::base.html.twig' %}

{% block title %}Tapas{% endblock %}

{% block body%}
    <table>
        {% for x in tapas %}
            <tr>
                <td>{{ x.id }} </td>
                <td>{{ x.nazwa }} </td>
                <td>{{ x.opis }} </td>
                <td>{{ x.cena }} & </td>
                <td>{{ x.createdAt|date("d/m/Y H:i:s") }} </td>
                <td>{{ x.updatedAt|date("d/m/Y H:i:s") }} </td>
                <td><a href="{{ path('app_tapas_update', {'id': x.id}) }}"> aktualizacja </a></td>
                <td><a href="{{ path('app_tapas_remove', {'id': x.id}) }}"> usunac </a> </td>
            </tr>

        {% endfor %}
        <tr>

            <td><a href="{{ path('app_tapas_insert') }}"> nowa okładka </a></td>
        </tr>
    </table><br>

{% endblock %}