{% extends '::base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body%}
    <table>
        {% for product in producto %}
            <tr>
                <td>{{ product.id }} </td>
                <td>{{ product.name }} </td>
                <td>{{ product.description }} </td>
                <td>{{ product.price }} € </td>
                <td>{{ product.createAt|date("d/m/Y H:i:s") }} </td>
                <td>{{ product.updateAt|date("d/m/Y H:i:s") }} </td>
                <td><a href="{{ path('app_producto_update', {'id': product.id}) }}"> Actualizar </a></td>
                <td><a href="{{ path('app_producto_remove', {'id': product.id}) }}"> Borrar </a> </td>
            </tr>

        {% endfor %}
        <tr>

            <td><a href="{{ path('app_producto_insert') }}"> Nuevo Producto </a></td>
        </tr>
    </table><br>

{% endblock %}

